SECSItems/bin
SECSItems/obj
SECSItemTests/bin
SECSItemTests/obj
SECSCommUtils/bin
SECSCommUtils/obj
EquipmentSimulatorSupportStuff/bin
EquipmentSimulatorSupportStuff/obj
FixedBufferSimulatorConsole/bin
FixedBufferSimulatorConsole/obj
*~
