SECSItems/bin
SECSItems/obj
SECSItemTests/bin
SECSItemTests/obj
SECSCommUtils/bin
SECSCommUtils/obj
SECSCommUtilsTests/bin
SECSCommUtilsTests/obj
SECSSpy/bin
SECSSpy/obj
SECSSpy/Logs
SECSTee/bin
SECSTee/obj
SECSTee/Logs
SECSStateMachines/bin
SECSStateMachines/obj
SECSStateMachinesTests/bin
SECSStateMachinesTests/obj
EquipmentSimulatorSupportStuff/bin
EquipmentSimulatorSupportStuff/obj
FixedBufferSimulatorConsole/bin
FixedBufferSimulatorConsole/obj
.vscode/
*~
